<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.streamlangarage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StreamlanGarage">
        <activity android:name="Common.ProgressRequestDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Common.Invoice.SelftDiagnose"
            android:screenOrientation="portrait"/>
        <activity android:name=".Common.Invoice.SubmittedDetail"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.Self_Diagnose"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.Chat_Details"
            android:screenOrientation="portrait"/>
        <activity android:name=".Common.Invoice.EarningActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Common.Invoice.InvoiceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Common.Invoice.UnpaidInvoice"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.PromoCodeHistory"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.BankAccount"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.TermsandPrivacyPolicy"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.PromoCodeRequest"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.ApprovedDetails"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.Chat"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.Review"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.Services"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.VerifySuccessfully"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.OpenRequestDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Common.VehicleSevice"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.OTP_Verify"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.LoginScreen"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.PasswordScreen"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.PasswordVerify"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.ProfileStep1"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.ProfileStep2"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.ProfileStep3"
            android:screenOrientation="portrait"/>
        <activity android:name="Common.Login"
            android:screenOrientation="portrait"/>
        <activity android:name=".Common.GetStarted"
            android:screenOrientation="portrait"/>
        <activity android:name=".Common.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>