<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.streamlangarage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="Common.ProgressRequestDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Common.Invoice.SelftDiagnose"
            android:screenOrientation="portrait"/>
        <activity android:name=".Common.Invoice.SubmittedDetail" />
        <activity android:name="Common.Self_Diagnose" />
        <activity android:name="Common.Chat_Details" />
        <activity android:name=".Common.Invoice.EarningActivity" />
        <activity android:name=".Common.Invoice.InvoiceActivity" />
        <activity android:name=".Common.Invoice.UnpaidInvoice" />
        <activity android:name="Common.PromoCodeHistory" />
        <activity android:name="Common.BankAccount" />
        <activity android:name="Common.TermsandPrivacyPolicy" />
        <activity android:name="Common.PromoCodeRequest" />
        <activity android:name="Common.ApprovedDetails" />
        <activity android:name="Common.Chat" />
        <activity android:name="Common.Review" />
        <activity android:name="Common.Services" />
        <activity android:name="Common.VerifySuccessfully" />
        <activity android:name="Common.OpenRequestDetails" />
        <activity android:name=".Common.VehicleSevice" />
        <activity android:name="Common.OTP_Verify" />
        <activity android:name="Common.LoginScreen" />
        <activity android:name="Common.MainActivity" />
        <activity android:name="Common.PasswordScreen" />
        <activity android:name="Common.PasswordVerify" />
        <activity android:name="Common.ProfileStep1" />
        <activity android:name="Common.ProfileStep2" />
        <activity android:name="Common.ProfileStep3" />
        <activity android:name="Common.Login" />
        <activity android:name=".Common.GetStarted" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>